PrizeWeb/WebContent/wsdl/MobileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://uitc.service.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://uitc.service.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://uitc.service.org/">
      <s:element name="runTXN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strTXNID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runTXNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="runTXNResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="runTXNSoapIn">
    <wsdl:part name="parameters" element="tns:runTXN" />
  </wsdl:message>
  <wsdl:message name="runTXNSoapOut">
    <wsdl:part name="parameters" element="tns:runTXNResponse" />
  </wsdl:message>
  <wsdl:portType name="MobileServiceSoap">
    <wsdl:operation name="runTXN">
      <wsdl:input message="tns:runTXNSoapIn" />
      <wsdl:output message="tns:runTXNSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MobileServiceSoap" type="tns:MobileServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runTXN">
      <soap:operation soapAction="http://uitc.service.org/runTXN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MobileServiceSoap12" type="tns:MobileServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="runTXN">
      <soap12:operation soapAction="http://uitc.service.org/runTXN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileService">
    <wsdl:port name="MobileServiceSoap" binding="tns:MobileServiceSoap">
      <soap:address location="http://172.28.233.13:8080/MobileService.asmx" />
    </wsdl:port>
    <wsdl:port name="MobileServiceSoap12" binding="tns:MobileServiceSoap12">
      <soap12:address location="http://172.28.233.13:8080/MobileService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>